* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f80101;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-icon {
    font-size: 24px;
    display: none;
}

main {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    max-width: 50%;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
}

h1 span {
    color: #000;
    font-weight: bold;
}

h1 + p {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF4C4C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.image-content img {
    max-width: 300px;
    height: auto;
}

/* Responsive menu icon for smaller screens */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
    }
}
